.customer-outer{
    padding-bottom: 64px;
}
.customer{
    margin-top: 176px;
    margin-bottom: 140px;
    padding: 1.875rem 9.625rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 160px;
}
.customer-left{
    width: 60%;
}
.customer-right{
    width: 40%;
    padding: 3.4rem 2.5rem;
    background-color: #FBF9F2;
    box-shadow: 0px 100px 100px 0px #00000025;
}
.preamble-customer{
    margin-bottom: 29px;
}
.header-text-customer{
    width: max-content;
    position: relative;
    margin-bottom: 56px;
}
.header-text-customer::after{
    position: absolute;
    top: 12px;
    right: -4px;
    content: "";
    width: 240px;
    height: 47px;
    background-color: #FFD7231A;
}

.subtext-customer{
    margin-bottom: 29px;
}
.customer-nav{
    display: flex;
    align-items: center;
    gap: 10px;
}
.customer-nav svg{
    color: #12305B;
    font-size: 1rem;
}
.customer-nav p{
    font-size: 1rem;
    font-weight: 400;
    color: #12305B;
    text-decoration: underline;
}
.customer-text{
    margin-bottom: 100px;
    font-size: 1.5rem;
    font-style: italic;
    font-weight: 400;
    color: #4D533C;
}
.customer-author{
    display: flex;
    align-items: center;
    gap: 35px;
}
.customer-author img{
    width: 84px;
    height: 84px;
    border-radius: 50%;
    object-fit: cover;
}
.customer-name{
    font-size: 1.3rem;
    font-weight: 700;
    color: #4D533C;
}
.customer-title{
    font-size: 1rem;
    font-weight: 400;
    color: #152934;
}
.customer-review{
    margin-bottom: 60px;
    padding-left: 9.625rem;
    width: 100%;
    overflow-x: scroll;
    margin-top: 4px;
    display: flex;
    align-items: center;
    gap: 26px;
}
.customer-review::-webkit-scrollbar{
    display: none;
}
@media only screen and (max-width: 1100px){
    .customer{
        padding: 1.875rem 6rem;
        gap: 100px;
    }
    .customer-text{
        font-size: 1rem;
    }
    .customer-author img{
        width: 64px;
        height: 64px;
    }
    .customer-name{
        font-size: 0.8rem;
    }
    .customer-title{
        font-size: 0.9rem;
    }
}
@media only screen and (max-width: 800px){
    .customer{
        margin-top: 150px;
        margin-bottom: 100px;
        padding: 1.875rem 2rem;
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: space-between;
        gap: 100px;
    }
    .customer-left{
        width: 100%;
    }
    .customer-right{
        width: 100%;
    }
    .header-text-customer{
        font-size: 1.7rem;
    }
}