.footer{
    padding: 2.1875rem 4.312rem;
    background-color: #043C50;
    background-image: url("../../Assets/background.png");
}
.footer-logo{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-logo img {
    width: 10%;
}
.footer-body{
    display: flex;
    justify-content: space-between;
    gap: 53px;
}