.footer{
    padding: 2.1875rem 4.312rem;
    background-color: #12305B;
    background-image: url("../../Assets/background.png");
}
.footer-logo{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-logo img {
    width: 10%;
}
.footer-body{
    margin-top: 48px;
    display: flex;
    justify-content: space-between;
    gap: 53px;
}
.footer-nav{
    display: flex;
    gap: 50px;
}
.footer-about{
    width: 34%;
}
.nav-head{
    margin-bottom: 21px;
    font-size: 1rem;
    font-weight: 600;
    color: #FFFFFF;
}
.nav-body{
    margin-bottom: 16px;
    font-size: 1rem;
    font-weight: 400;
    color: #ABABAB;
}
.nav-body-2{
    margin-bottom: 16px;
    font-size: 1rem;
    font-weight: 700;
    color: #FFFFFF;
}
.about-text{
    color: #FFFFFF;
    margin-bottom: 21px;
}
.about-text span{
    color: #8FE2FF;
}
.nav-email{
    font-size: 1.5rem;
    font-weight: 700;
    color: #FFFFFF;
}
.footer-contact-icon{
    margin-top: 24px;
    margin-bottom: 55px;
    display: flex;
    align-items: center;
    gap: 11px;
}
.contact-icon{
    width: 33px;
    height: 33px;
    border-radius: 50%;
    background-color: #8FE2FF;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact-icon svg{
    font-size: 1.2rem;
    color: #12305B;
}
